<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.example.meet">

  <application
    android:name=".base.BaseApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Meet">
    <activity
      android:name=".test.TestBmonActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    </activity>
    <!-- bmob -->
    <provider
      android:name="cn.bmob.v3.util.BmobContentProvider"
      android:authorities="com.example.meet.BmobContentProvider" />

    <activity
      android:name=".ui.IndexActivity"
      android:exported="false" /> <!-- OPPO 手机适配刘海屏 -->
    <meta-data
      android:name="android.max.aspect"
      android:value="2.2" /> <!-- 小米手机适配 -->
    <meta-data
      android:name="notch.config"
      android:value="portrait|landscape" />

    <activity
      android:name=".ui.LoginActiveActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.GuideActivity"
      android:exported="false"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    <activity
      android:name=".test.TestActivity"
      android:exported="true">
<!--      <intent-filter>-->
<!--        <action android:name="android.intent.action.MAIN" />-->

<!--        <category android:name="android.intent.category.LAUNCHER" />-->
<!--      </intent-filter>-->
    </activity>
    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
  </application>

</manifest>
